<div class="container">

  <h1>Cricri's Cocktails</h1>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <%= link_to cocktail.name, cocktail_path(cocktail) %>

      </div>
    <% end %>
  </div>

  <%= link_to "Create a new Cricri's Cocktail", new_cocktail_path %>

</div>

