<div class="container">

  <h1><%= @cocktail.name.capitalize %></h1>
  <div class="row">
      <div class="col-xs-12 col-sm-4">
        <%= @cocktail.name %>
      </div>
  </div>

</div>

<%= link_to "All cocktails", cocktails_path %>


